 .button{
            width: 200px;
            padding: 1px;
            box-shadow: 0 0 5px 3px #cccccc;
        }
        .text{
            margin-left:15px
        }
        .img{
            float: left;
            margin-right:5px;
        }