{{> menu}}
<table id="filemen">
    <tr>
        <td>id</td>
        <td>obraz</td>
        <td>name</td>
        <td>size</td>
        <td>type</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    {{#each pliki}}
    {{> tabgen}}
    {{/each}}
</table>