{{> menu}}

<form enctype="multipart/form-data" method="POST" action="/handleUpload">
    <input type="file" required accept="*/*" name="imagetoupload" multiple>
    <button type="submit">wyslij</button>
</form>